# Maven build folder
target/
**/target/

# Claude settings & logs
.claude/
**/.claude/

# Skills folder
skills/
**/skills/

# Environment Variables
.env
**/.env
# Node
node_modules/
package-lock.json
package.json
